.wrapperInfo {
  background: white;
  min-height: 420px;
  background-image: url("../img/city.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.title {
  padding: 20px 25px;
  .titleMain {
    margin: 0;
    color: #000;
    font-weight: 400;
    font-size: 30px;
    max-width: 350px;
  }
  .underTitle {
    font-size: 20px;
  }
}
